{% extends 'main.html' %}
{% load static %}
{% block body %}





<div class="" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content text-center">
      <div class="modal-body">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <h2 class="mb-3 text-start">Email Sent</h2>
        <p class=" mb-6 text-start">We've emailed you instruction for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

        <p class=" mb-6 text-start">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        

        
        <!-- /form -->
        
        <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="hover">Sign up</a></p>
        
        <!--/.social -->
      </div>
      <!--/.modal-content -->
    </div>
    <!--/.modal-body -->
  </div>
  <!--/.modal-dialog -->
</div>

{% endblock %}