{% extends 'main.html' %}
{% load static %}
{% block body %}





<div class="" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content text-center">
      <div class="modal-body">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <h2 class="mb-3 text-start">Reset Password</h2>
        <p class="lead mb-6 text-start">Enter your account email to receive password reset link</p>
        <form class="text-start mb-3" method="POST">
          {% csrf_token %}
          {{form}}
         
          <button class="btn mt-3 btn-orange rounded-pill btn-login w-100 mb-2" type="submit">Next</button>
        </form>
        <!-- /form -->
        
        <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="hover">Sign up</a></p>
        
        <!--/.social -->
      </div>
      <!--/.modal-content -->
    </div>
    <!--/.modal-body -->
  </div>
  <!--/.modal-dialog -->
</div>

<script type="text/javascript">

var element = document.getElementById("id_email");
element.classList.add("form-control");
</script>
{% endblock %}