{% extends 'main.html' %}
{% load static %}
{% block body %}





<div class="" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content text-center">
      <div class="modal-body">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <h2 class="mb-3 text-start">Password reset complete</h2>
        <p class=" mb-6 text-start">Your password has been set. You may go ahead and log in now.</p>
        
        <!-- /form -->
        
        <p class="mb-0"><a href="{% url 'login' %}" class="hover">Login</a></p>
        
        <!--/.social -->
      </div>
      <!--/.modal-content -->
    </div>
    <!--/.modal-body -->
  </div>
  <!--/.modal-dialog -->
</div>

{% endblock %}