{% extends 'main.html' %}
{% load static %}
{% block body %}
<section class="wrapper bg-soft-primary">
      <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
        <div class="row">
          <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
              <h1 class="display-1 mb-5">Our Tools</h1>
              <ul class="post-meta fs-17 mb-5">
                <li>All you need to know about product hunting.</li>
              </ul>
              <!-- /.post-meta -->
            </div>
            <!-- /.post-header -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-light angled upper-end">
      <div class="container pb-3">
        <div class="row mb-2">
          <div class="col-xl-10 mx-auto ">
            <div class="card">
              <div class="row gx-0">
               <div class="col-12 mt-n20">
            <figure class="rounded"><img style="margin-top:75px" src="{% static '/front-assets/img/photos/about5.jpg' %}" alt="" /></figure>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper ">
      <div class="container py-14 py-md-16">
        <div class="row align-items-center mb-6">
          <div class="col-xl-10 mx-auto ">
            <h2 class="display-6 mb-0">Our Tools</h2>
          
        <!--/.row -->
        <div class="row gy-6">
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-red text-white w-11 h-11 fs-20 me-4">SD</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Senior Graphic Designer</h4>
                  <p class="mb-0 text-body">San Francisco, US</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-green text-white w-11 h-11 fs-20 me-4">UX</span>
                </div>
                <div>
                  <span class="badge bg-pale-aqua text-aqua rounded py-1 mb-2">Remote</span>
                  <h4 class="mb-1">UI/UX Designer</h4>
                  <p class="mb-0 text-body">Anywhere</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-yellow text-white w-11 h-11 fs-20 me-4">AN</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Multimedia Artist &amp; Animator</h4>
                  <p class="mb-0 text-body">Birmingham, UK</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-purple text-white w-11 h-11 fs-20 me-4">FD</span>
                </div>
                <div>
                  <span class="badge bg-pale-violet text-violet rounded py-1 mb-2">Part Time</span>
                  <h4 class="mb-1">Front End Developer</h4>
                  <p class="mb-0 text-body">Sydney, AU</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-orange text-white w-11 h-11 fs-20 me-4">MD</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Mobile Developer</h4>
                  <p class="mb-0 text-body">San Francisco, US</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-pink text-white w-11 h-11 fs-20 me-4">ND</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">.NET Developer</h4>
                  <p class="mb-0 text-body">Manchester, UK</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-red text-white w-11 h-11 fs-20 me-4">SD</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Senior Graphic Designer</h4>
                  <p class="mb-0 text-body">San Francisco, US</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-green text-white w-11 h-11 fs-20 me-4">UX</span>
                </div>
                <div>
                  <span class="badge bg-pale-aqua text-aqua rounded py-1 mb-2">Remote</span>
                  <h4 class="mb-1">UI/UX Designer</h4>
                  <p class="mb-0 text-body">Anywhere</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-yellow text-white w-11 h-11 fs-20 me-4">AN</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Multimedia Artist &amp; Animator</h4>
                  <p class="mb-0 text-body">Birmingham, UK</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-purple text-white w-11 h-11 fs-20 me-4">FD</span>
                </div>
                <div>
                  <span class="badge bg-pale-violet text-violet rounded py-1 mb-2">Part Time</span>
                  <h4 class="mb-1">Front End Developer</h4>
                  <p class="mb-0 text-body">Sydney, AU</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-red text-white w-11 h-11 fs-20 me-4">SD</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Senior Graphic Designer</h4>
                  <p class="mb-0 text-body">San Francisco, US</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-green text-white w-11 h-11 fs-20 me-4">UX</span>
                </div>
                <div>
                  <span class="badge bg-pale-aqua text-aqua rounded py-1 mb-2">Remote</span>
                  <h4 class="mb-1">UI/UX Designer</h4>
                  <p class="mb-0 text-body">Anywhere</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-yellow text-white w-11 h-11 fs-20 me-4">AN</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Multimedia Artist &amp; Animator</h4>
                  <p class="mb-0 text-body">Birmingham, UK</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-purple text-white w-11 h-11 fs-20 me-4">FD</span>
                </div>
                <div>
                  <span class="badge bg-pale-violet text-violet rounded py-1 mb-2">Part Time</span>
                  <h4 class="mb-1">Front End Developer</h4>
                  <p class="mb-0 text-body">Sydney, AU</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-4">
            <a href="#" class="card shadow-lg lift h-100">
              <div class="card-body p-5 d-flex flex-row">
                <div>
                  <span class="avatar bg-red text-white w-11 h-11 fs-20 me-4">SD</span>
                </div>
                <div>
                  <span class="badge bg-pale-blue text-blue rounded py-1 mb-2">Full Time</span>
                  <h4 class="mb-1">Senior Graphic Designer</h4>
                  <p class="mb-0 text-body">San Francisco, US</p>
                </div>
              </div>
            </a>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      
        <!--/.row -->
        <h2 class="display-4 mb-3" style="margin-top:80px;">How We Do It?</h2>
        <p class="lead fs-lg mb-8">We make your spending <span class="underline">stress-free</span> for you to have the perfect control.</p>
        <div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
          <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"><span class="number">01</span></span>
            <h4 class="mb-1">Concept</h4>
            <p>Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam. Pellentesque ornare.</p>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">02</span></span>
            <h4 class="mb-1">Prepare</h4>
            <p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"><span class="number">03</span></span>
            <h4 class="mb-1">Retouch</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero.</p>
          </div>
          <!--/column -->
          <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-soft-primary disabled mb-4"><span class="number">04</span></span>
            <h4 class="mb-1">Finalize</h4>
            <p>Integer posuere erat, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
    <section class="wrapper bg-soft-primary">
      <div class="container py-14 py-md-16">
        <div class="row">
          <div class="col-lg-10 col-xl-9 col-xxl-8 mx-auto text-center">
            <h2 class="fs-15 text-uppercase text-muted mb-3">Can't find the right position?</h2>
            <h3 class="display-4 mb-7 px-lg-5 px-xl-0 px-xxl-5">We are a community with 5000+ team members. Join and build the future with us.</h3>
            <a href="/contactus" class="btn btn-lg btn-primary rounded-pill">Contact Us</a>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->
{% endblock %}